<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.badlogic.androidgames.ndk"
    android:versionCode="1"
    android:versionName="1.0" 
    android:installLocation="preferExternal">

    <uses-sdk
        android:minSdkVersion="3"
        android:targetSdkVersion="15" />
    
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="Chapter 13 - NDK"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".NdkStarter"
            android:label="Chapter 13 - NDK" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".JniUtilsTest"
               android:configChanges="keyboard|keyboardHidden|orientation"
               android:screenOrientation="landscape"/>
        <activity android:name=".SpriteBatcherTest"
               android:configChanges="keyboard|keyboardHidden|orientation"
               android:screenOrientation="landscape"/>
        <activity android:name=".ObjTest"
               android:configChanges="keyboard|keyboardHidden|orientation"
               android:screenOrientation="landscape"/>
    </application>
</manifest>