<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.badlogic.androidgames.gl3d"
    android:versionCode="1"
    android:versionName="1.0" 
    android:installLocation="preferExternal">

    <uses-sdk
        android:minSdkVersion="3"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="Chapter 10 - OpenGL 3D"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".GL3DBasicsStarter"
            android:label="Chapter 10 - OpenGL 3D" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".Vertices3Test"
                  android:configChanges="keyboard|keyboardHidden|orientation"
                  android:screenOrientation="landscape"/>
                  
        <activity android:name=".PerspectiveTest"
                  android:configChanges="keyboard|keyboardHidden|orientation"
                  android:screenOrientation="landscape"/>
                  
        <activity android:name=".ZBufferTest"
                  android:configChanges="keyboard|keyboardHidden|orientation"
                  android:screenOrientation="landscape"/>
        
        <activity android:name=".ZBlendingTest"
                  android:configChanges="keyboard|keyboardHidden|orientation"
                  android:screenOrientation="landscape"/>
                  
        <activity android:name=".CubeTest"
                  android:configChanges="keyboard|keyboardHidden|orientation"
                  android:screenOrientation="landscape"/>
                  
        <activity android:name=".HierarchyTest"
                  android:configChanges="keyboard|keyboardHidden|orientation"
                  android:screenOrientation="landscape"/>
    </application>

</manifest>