<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.helloworld"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="Chapter 02 - Hello World"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HelloWorldActivity"
            android:label="Chapter 2 - Hello World" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>